$blue-main: #0068ff;
$blue-main-hover: #0051cc;
$black: #292929;
$gray-stroke: #e3e3e3;
$gray-background: #f6f6f6;

$color-red: #c40837;
$color-purple: #a70584;
$color-teal: #36b588;

$breakpoint-md: 768px;
$breakpoint-xl: 1200px;

$font-family: "Inter", sans-serif;
$second-family: "Archivo", sans-serif;
